.input-outer-container {
  background-color: white;
  border: solid 0px pink;
  border-radius: 20px;
  height: 300px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.rotate-stick {
  width: 220px;
  background-color: pink;
  height: 450px;
  position: absolute;
  animation: animate 6s linear infinite;
}
.input-container {
  padding: 15px;
  background-color: white;
  position: relative;
  border-radius: 15px;
  border: solid 0px pink;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
label {
  color: black;
}
input {
  color: rgb(252, 128, 149);
  border: solid 2px pink;
  margin-bottom: 10px;
  padding-left: 14px;
}


@keyframes animate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
